
:root {
    font-size: 14px;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 546px) {
  .form {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 6;}
  
}

@media only screen and (min-width: 667px) {
  .form {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 6;}

@media only screen and (min-width: 1024px) {
  .form {grid-area: 1 / span 6;}
  .menu {grid-area: 2 / span 6;}
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background-color: #0a976d;
    color: #262626;
    padding-bottom: 3rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.subscribe-button {
  background-color: #bb5c04;
  border-radius: 10;
  color: white;
  padding: 12 12;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.ul {
    list-style-type: none
}